<!DOCTYPE html>
<h1> About Siri </h1>
  <font size="4"><body> </body> <br>
  <br>
</font>
<a href="http://tinypic.com?ref=xokydy" target="_blank"><img src="http://i68.tinypic.com/xokydy.jpg" border="blue" alt="Image and video hosting by TinyPic" height="200" width="200"></a>
<a href="http://tinypic.com?ref=149tsux" target="_blank"><img src="http://i63.tinypic.com/149tsux.jpg" border="3" alt="Image and video hosting by TinyPic" height="200" width="200"></a>
<br>
<a href="http://tinypic.com?ref=1jrd5x" target="_blank"><img src="http://i65.tinypic.com/1jrd5x.jpg" border="3" alt="Image and video hosting by TinyPic" height="200" width="200"></a>
<a href="http://tinypic.com?ref=10xvlnc" target="_blank"><img src="http://i66.tinypic.com/10xvlnc.jpg" border="3" alt="Image and video hosting by TinyPic"height="200" width="200"></a>
<br>
<font size="5">

  <h1> Fun Facts About Siri</h1>
  
<body> <b>Favorite activities:</b> sleeping, dancing, and reading </body>
<br><br>
<body> <b>Favorite Place:</b> her bed</body>
<br><br>
<body><b> Future Home:</b>Italy</body>
<body><b> 
</font>
