<!DOCTYPE html>
<html>
<form method="POST" action="/madlib">
  <p>Adjective#1: <input type="text" name="adjective1"></p>
  <p>Adjective#2: <input type="text" name="adjective2"></p>
  <p>Adjective#3: <input type="text" name="adjective3"></p>
  <p>Adjective#4: <input type="text" name="adjective4"></p>
  <p>Adjective#5: <input type="text" name="adjective5"></p>
  <p>Animal: <input type="text" name="animal"></p>
  <p>Noun#1: <input type="text" name="noun1"></p>
  <p>Noun#2: <input type="text" name="noun2"></p>
  <p>Noun#3: <input type="text" name="noun3"></p>
  <p>Noun#4: <input type="text" name="noun4"></p>
  <p>Number: <input type="text" name="number"></p>
  <p>Past Tense Verb: <input type="text" name="past tense verb"></p>
  <p>Person You Know #1: <input type="text" name="person_you_know_1"></p>
  <p>Person You Know #2: <input type="text" name="person_you_know_2"></p>
  <p>Plural Noun: <input type="text" name="plural_noun"></p>
  <p>PLural Part of the Body: <input type="text" name="plural_part_of_the_body"></p>
  <input type="submit">
</form>
</html>

